
{$DOMAIN_NAME} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        header_upstream X-CSRFToken {~csrftoken}
    }
    tls /etc/ssl/linuxito.crt /etc/ssl/linuxito.key
    log stdout
    errors stdout
    gzip
}

{$DOMAIN_NAME} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        header_upstream X-CSRFToken {~csrftoken}
    }
    tls /etc/ssl/linuxito.crt /etc/ssl/linuxito.key
    log stdout
    errors stdout
    gzip
}
